In [7]:
import sys
import os

sys.path.append(os.path.abspath("../../src"))

from data.load_data import load_data

chocolate_df = load_data("../../data/processed/chocolate_price.csv")

dark_chocolates = chocolate_df[chocolate_df["Cocoa Percent"] > 70].reset_index()

has_Trinitario = dark_chocolates["Bean Type"].str.contains("Trinitario", case=False, na=False)

for idx, val in enumerate(has_Trinitario):
    if val == True:
        ten_percent = dark_chocolates.iloc[idx]["price(100g)"] / 10
        dark_chocolates.at[idx, "price(100g)"] += ten_percent

priceSum = dark_chocolates["price(100g)"].sum()


dark_chocolates.to_csv("../../data/processed/dark_chocolates.csv")

dark_chocolates

,index,Company,Specific Bean Origin,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin,price(100g)
0,26,Adi,"Vanua Levu, Toto-A",2011,80.0,Fiji,65.0,Trinitario,Fiji,143000.0
1,27,Adi,Vanua Levu,2011,88.0,Fiji,70.0,Trinitario,Fiji,169400.0
2,28,Adi,"Vanua Levu, Ami-Ami-CA",2011,72.0,Fiji,70.0,Trinitario,Fiji,138600.0
3,32,Akesson's (Pralus),"Bali (west), Sukrama Family, Melaya area",2011,75.0,Switzerland,75.0,Trinitario,Indonesia,154687.5
4,33,Akesson's (Pralus),"Madagascar, Ambolikapiky P.",2010,75.0,Switzerland,55.0,Criollo,Madagascar,103125.0
...,...,...,...,...,...,...,...,...,...,...
790,1778,Zotter,Raw,2014,80.0,Austria,55.0,Blend,Other,110000.0
791,1779,Zotter,"Bocas del Toro, Cocabo Co-op",2012,72.0,Austria,70.0,Blend,Panama,126000.0
792,1784,Zotter,El Oro,2012,75.0,Austria,60.0,Forastero (Nacional),Ecuador,112500.0
793,1785,Zotter,Huiwani Coop,2012,75.0,Austria,60.0,"Criollo, Trinitario",Papua New Guinea,123750.0
794,1786,Zotter,El Ceibo Coop,2012,90.0,Austria,65.0,Blend,Bolivia,146250.0